Checks: "readability-identifier-naming"
HeaderFileExtensions: ["hpp"]
ImplementationFileExtensions: ["cpp"]
HeaderFilterRegex: "(src)"
ExcludeHeaderFilterRegex: "(_deps)"
CheckOptions:
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.FunctionCase: CamelCase
  readability-identifier-naming.MethodCase: CamelCase
  readability-identifier-naming.MemberCase: CamelCase

  readability-identifier-naming.ParameterCase: lower_case
  readability-identifier-naming.MacroDefinitionCase: UPPER_CASE
  readability-identifier-naming.GlobalConstantCase: UPPER_CASE
  readability-identifier-naming.GlobalConstantPointerCase: UPPER_CASE
  readability-identifier-naming.EnumCase: UPPER_CASE
  readability-identifier-naming.EnumConstantCase: UPPER_CASE
